services:
  postgres:
    image: postgres:17-alpine
    ports:
      - "5444:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ubereats
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: